body{
    background-image: url('../images/bc.jpg');
    margin: 0;
    padding: 0;
    
}

#twoImages{
    margin-top: 0vh;
}

img{
    border-radius: 10%;
    width: 100%;
}

#navbar-h{
    margin-top: 2em;
}

#navbar{
    padding: 1em;
    font-size: 20px;
}

#aboutUs{
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    margin-top: 5vh;
}

h3{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

#aboutUs p{
    font-size: 20px;
    margin: 10px 20px;
    text-align: center;
}

form{
    display: block;
    color: rgb(116, 196, 42);
    margin-top: 5vh;
    border: 2px palevioletred solid;
}

label{
    width: 15vh;
}

label, select{
    margin-top: 1vh;
    margin-left: 2vh;
}

input[type=number]{
    margin-top: 1vh;
    margin-left: 2vh;
    width: 5vw;
}

#btn{
    margin-left: 5vw;
    margin-bottom: 1vh;
    color: greenyellow;
}

#btn:hover{
    color: purple;
    font-weight: bold;
}

#offer{
    border: 2px solid greenyellow;
    border-radius: 5px;
    background-color: black;
    color: whitesmoke;
    margin-top: 5vh;
}

#offer>p{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}

a{
    color: yellow;
}

#btn{
    margin-top: 1em;
}